@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.App {
  text-align: center;
}


.App-header {
  background-color:transparent;
  height: 50px;
  padding: 20px;
  color: #fb837e;
  margin: 8px auto;
  font-family: 'Comfortaa', cursive;
}
/* .bodyTelas{
  background-color: #7b1fa2;
} */




