@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #7f46d9;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
}

.chamadaSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
    align-items: center;
}

.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    color: #ffffff;
    
}

.subtitulo{
    font-size: 20pt;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.vantagensReunidas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgSobre{
    width: 200px;
    height: 200px;
}

.paragrafo{
    margin-left: 10vw;
}