@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans');

.telaInicial{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("bg-menina.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.headerMenu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.menu{
    margin: 0;
    text-decoration: none;
    color: #7f46d9;
    font-size: 20pt;
}

.menu:hover{
    text-decoration: underline;
    color: #009688;
    font-size: 25pt;
    font-weight: bold;
}

.logo{
   /* margin-top: 30px; */
   height: 67px;
   width: 127px;
   /* margin-left: 30px; */
}

.chamada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-size: 30pt;
    font-weight: bold;
}

.botaoInicialHeader{
    color: aqua;
    display: flex;
    border-radius: 23px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}