.footer{
    background-color:#009688;
    height: 150px;
   
}
p{
    color: whitesmoke;
    text-align: center;
    height: 150px;
    padding: 20px;
    font-size: 5vw;
}

  

    
  